/* ===== NAVBAR STYLES ====== */

/* Navbar Container */
.navbar-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary);
}

/* Logo */
.navbar-logo {
    height: 50px;
}

/* Auth Section */
.auth-nav {
    align-items: center;
    gap: 0.75rem;
}

/* Auth Buttons */
.auth-btn-login,
.auth-btn-register {
    font-family: var(--font-family-primary);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius);
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
}

.auth-btn-login {
    border-color: var(--secondary);
    color: var(--secondary);
    background-color: transparent;
}

.auth-btn-login:hover {
    background-color: var(--white);
    color: var(--secondary);
    border-color: var(--secondary);
}

.auth-btn-register {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);
}

.auth-btn-register:hover {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
}


/* User Dropdown */
.user-dropdown-toggle {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--dark);
}

.user-dropdown-toggle:hover {
    color: var(--secondary);
}